.homeview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .frame {
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 16px;
    border-collapse: separate;
    border: 2px solid transparent;
    border-image: linear-gradient(135deg, rgb(18, 20, 158), rgb(33, 109, 175)) 1;
    background: transparent;
    display: flex;
    overflow: hidden; /* Ensure contents don't overflow the frame */
  }
  
  .component-container {
    flex: 1; /* Each container takes up 50% of the frame */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add these styles to ensure the content inside is centered */
  }
  
  .left-container {
    border-right: 2px solid rgb(18, 20, 158); 
    box-sizing: border-box; /* Include border in width/height calculations */
  }
  
  .right-container {
    box-sizing: border-box; /* Include border in width/height calculations */
  }